{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/favicon.png">

    <title>{% block title %}WEBCHES	-	Home {% endblock %}</title>
        <!-- Bootstrap core CSS -->
    <link href="{% static  'front_page/assets/css/bootstrap.css' %} " rel="stylesheet">
	<!--custom css for image display -->    <!-- Custom styles for this template -->
    <link href="{% static 'front_page/assets/css/main.css' %}" rel="stylesheet">

    <!-- Fonts from Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'cocoa:farmers' %}"><b>WEBCHES</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          	<li><a href="">About</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
	<div class="container">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>WEBCHES  is for Everyone.</h1>
        <h3>WEBCHES is a web application providing information about cocoa diseases in an interractive manner and also coaches the farmer or researcher how to solve the problems faced by the cocoa </h3>
      </div>
    </div><!-- /row -->

    <! -- CAROUSEL -->
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="{% static 'pels/1.jpg' %}" width="500" height="200" alt=""> 
            </div>
            <div class="item">
              <img src="{% static 'pels/2.jpg'%}" width="500" height="200" alt="">
            </div>
            <div class="item">
                <img src="{% static 'pels/4.jpg'%}" width="500" height="200" alt="">
            </div>
          </div>
        </div>
      </div><!-- /col-lg-8 -->
    </div><!-- /row -->
  </div><! --/container -->

  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>The Creator of Cocoa ~ clinic <br/>Jicommit.</h1>
      </div>
    </div><!-- /row -->

    <div class="row mt centered">
      <div class="col-lg-12">
        <img class="img-circle" src="{% static 'front_page/assets/img/julius.png'%}" width="140" alt="">
        <h4>Idowu Julius</h4>
        <p>Julius is a python programmer and a web developer<br/> and an undergraduate studying computer science in TASUED.<br/> he and his project supervisor co-created cocoa clinic web application</p>
        <p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
      </div><!--/col-lg-4 -->

    </div><!-- /row -->
  </div><!-- /container -->

  <div class="container">
    <hr>
    <div class="row centered">
      <div class="col-lg-6 col-lg-offset-3">
        <form class="form-inline" role="form">
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
          </div>
          <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
        </form>
      </div>
      <div class="col-lg-3"></div>
    </div><!-- /row -->
    <hr>
    <p class="centered">Created by Jicommit &copy; 2017</p>
  </div><!-- /container -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static  'front_page/assets/js/bootstrap.min.js'%}"></script>
  </body>
</html>
