 {% load staticfiles %}
{% load i18n widget_tweaks %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="webches application  ">
    <meta name="author" content="">

    <title>{% block title %} Home{% endblock %}| WEBCHES</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'home/css/bootstrap.min.css' %}" rel="stylesheet">
 
    <!-- Custom Google Web Font -->
    <link href="{% static 'home/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
	
    <!-- Custom CSS-->
    <link href="{% static 'home/css/general.css' %}" rel="stylesheet">
	
	 <!-- Owl-Carousel -->
    <link href="{% static 'home/css/custom.css' %}" rel="stylesheet">
	<link href="{% static 'home/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'home/css/owl.theme.css' %}" rel="stylesheet">
	<link href="{% static 'home/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'home/css/animate.css' %}" rel="stylesheet">
	
	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="{%  static 'home/css/magnific-popup.css' %}"> 
	
	<script src="{%  static 'home/js/modernizr-2.8.3.min.js' %}"></script>  <!-- Modernizr /-->
	<!--[if IE 9]>
		<script src="js/PIE_IE9.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="js/PIE_IE678.js"></script>
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
	<![endif]-->

</head>

<body id="home">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>
	
	<!-- FullScreen -->
    <div class="intro-header">
		<div class="col-xs-12 text-center abcen1">
			<h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">WEBCHES</h1>
			<h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">A Cocoa based clinic </h3>
			<ul class="list-inline intro-social-buttons">
				<li><a href="#contact" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Contact</span></a>
				</li>
				<li id="download" ><a href="#whatis" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s"><span class="network-name">get started</span></a>
				</li>
			</ul>
		</div>    
        <!-- /.container -->
		<div class="col-xs-12 text-center abcen wow fadeIn">
			<div class="button_down "> 
				<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#whatis"> <img class="img_scroll" src="{% static 'home/img/icon/circle.png' %}" alt=""> </a>
			</div>
		</div>
    </div>
	
	<!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#home">WEBCHES</a>
			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					
					<li class="menuItem"><a href="#whatis">What is?</a></li>
					<li class="menuItem"><a href="{% url 'cocoa:farmers' %}">Farmers</a></li>
					<li class="menuItem"><a href="{% url 'cocoa:super' %}">Agents</a></li>
					<li class="menuItem"><a href="#contact">Contact</a></li>
				</ul>
			</div>
		   
		</div>
	</nav> 
	
	<!-- What is -->
	<div id="whatis" class="content-section-b" style="border-top: 0">
		<div class="container">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>What is?</h2>
				<p class="lead" style="margin-top:0">WEBCHES is a cocoa based clinic that gives information on cocoa diseases and likely solutions for each given disease.</p>
				
			</div>
			
			<div class="row">
			
				<div class="col-sm-4 wow fadeInDown text-center">
				  <img class="rotate" src="{% static 'home/img/icon/book.svg' %}" alt="Generic placeholder image">
				  <h3>Farmers</h3>
				  <p class="lead">WEBCHES gives farmers the ability to search for diseases and get the information about each disease . </p>

				  <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->
				
				<div class="col-sm-4 wow fadeInDown text-center">
				  <img  class="rotate" src="{% static 'home/img/icon/speed.svg' %}" alt="Generic placeholder image">
				   <h3>Agents</h3>
				   <p class="lead">WEBCHES also collects new information from Extension agents and publishes it only if the information is valid. </p>
				   <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->
				
				<div class="col-sm-4 wow fadeInDown text-center">
				  <img  class="rotate" src="{% static 'home/img/icon/tactics.svg' %}" alt="Generic placeholder image">
				   <h3>Sponsor</h3>
					<p class="lead">WEBCHES is a growing web application and would require donations to keep its growth for a better society. </p>
				  <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
				</div><!-- /.col-lg-4 -->
				
			</div><!-- /.row -->
				
	
	<!-- Use it -->
    <div id ="useit" class="content-section-a">

        <div class="container">
			
            <div class="row">
			
				<div class="col-sm-6 pull-right wow fadeInRightBig">
                    <img class="img-responsive " src="{% static 'home/img/Farmers.jpg' %}" alt="">
                </div>
				
                <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">   
                    <h3 class="section-heading">Farmers</h3>
					<div class="sub-title lead3">Farmers are active participators in WEBCHES</div>
                    <p class="lead">
						Farmers are allowed to search for cocoa diseases and get solutions easily for each disease searched
					</p>
					 <a class="btn btn-embossed btn-info" href="{% url 'cocoa:farmers' %}" role="button">Visit Website</a></p>
				</div>   
            </div>
        </div>
        <!-- /.container -->
    </div>

    <div class="content-section-b"> 
<div id ="useit" class="content-section-a">

        <div class="container">
			
            <div class="row">
			
				<div class="col-sm-6 pull-right wow fadeInRightBig">
                    <img class="img-responsive " src="{% static 'home/img/agent2.JPG' %}" alt="">
                </div>
				
                <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">   
                    <h3 class="section-heading">Agents</h3>
					<div class="sub-title lead3">Farmers are active participators in WEBCHES</div>
                    <p class="lead">
						Farmers are allowed to search for cocoa diseases and get solutions easily for each disease searched
					</p>
					 <a class="btn btn-embossed btn-info" href="{% url 'cocoa:super' %}" role="button">Visit Website</a></p>
				</div>   
            </div>
        </div>
        <!-- /.container -->
    </div>

</div>
		
	
	<!-- Contact -->
	<div id="contact" class="content-section-a">
		<div class="container">
			<div class="row">
			
			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Contact Us</h2>
				<p class="lead" style="margin-top:0">@WEBCHES.</p>
			</div>
			
			<form role="form" action="" method="post" >
			{% csrf_token %}
			<div class="col-md-6">
                                {% for field in form %} 
				
					<div class="form-group">
						<label>{{ field.label }}</label>
						<div class="input-group">
							{{ field|attr:'class:form-control'}}
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>
					{% endfor %}
					

					<input type="submit" name="submit" id="submit" value="Submit" class="btn wow tada btn-embossed btn-primary pull-right">
				</div>
			</form>
			
			<hr class="featurette-divider hidden-lg">
				<div class="col-md-5 col-md-push-1 address">
					<address>
					<h3>Office Location</h3>
					<p class="lead"><a href="https://www.google.com/maps/preview?ie=UTF-8&q=The+Pentagon&fb=1&gl=us&hq=1400+Defense+Pentagon+Washington,+DC+20301-1400&cid=12647181945379443503&ei=qmYfU4H8LoL2oATa0IHIBg&ved=0CKwBEPwSMAo&safe=on">The Pentagon<br>
					TASUED, ijagun</a><br>
					Phone: +234-814-6235-793<br>
					Fax: XXX-XXX-YYYY</p>
					</address>

					<h3>Social</h3>
					<li class="social"> 
					<a href="#"><i class="fa fa-facebook-square fa-size"> </i></a>
					<a href="#"><i class="fa  fa-twitter-square fa-size"> </i> </a> 
					<a href="#"><i class="fa fa-google-plus-square fa-size"> </i></a>
					<a href="#"><i class="fa fa-flickr fa-size"> </i> </a>
					</li>
				</div>
			</div>
		</div>
	</div>
	
	
	
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h3 class="footer-title">Follow Me!</h3>
            <p>contact me on various social media <br/>
              Fork me on Github.<br/>
              Go to: <a  href="http://github.com/JuliRash" target="_blank">JuliRash</a>
            </p>
			
			<!-- LICENSE -->
			<a rel="cc:attributionURL" href="http://www.andreagalanti.it/flatfy"
		   property="dc:title">WEBCHES </a> by
		   <a rel="dc:creator" href="http://github.com/JuliRash"
		   property="cc:attributionName">Idowu Julius</a>
		   is licensed to the public under 
		   <BR>the <a rel="license"
		   href="">Creative
		   Commons Attribution 3.0 License - NOT COMMERCIAL</a>.
		   
	   
          </div> <!-- /col-xs-7 -->

          <div class="col-md-5">
            <div class="footer-banner">
              <h3 class="footer-title">WEBCHES</h3>
              <ul>
                <li></li>
                <li>Farmers</li>
                <li>Agents</li>
                <li>Admin</li>
                <li>idowu</li>
              </ul>
              Go to: <a href="http://github.com/JuliRash" target="_blank">julipels</a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- JavaScript -->
    <script src="{% static 'home/js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.js' %}"></script>
	<script src="{% static 'home/js/owl.carousel.js' %}"></script>
	<script src="{% static 'home/js/script.js' %}"></script>
	<!-- StikyMenu -->
	<script src="js/stickUp.min.js"></script>
	<script type="text/javascript">
	  jQuery(function($) {
		$(document).ready( function() {
		  $('.navbar-default').stickUp();
		  
		});
	  });
	
	</script>
	<!-- Smoothscroll -->
	<script type="text/javascript" src="{% static 'home/js/jquery.corner.js' %}"></script> 
	<script src="{% static 'home/js/wow.min.js' %}"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="{% static 'home/js/classie.js' %}"></script>
	<script src="{% static 'home/js/uiMorphingButton_inflow.js' %}"></script>
	<!-- Magnific Popup core JS file -->
	<script src="{% static 'home/js/jquery.magnific-popup.js' %}"></script> 
</body>

</html>